<% include ../partials/header %>

<div class='container'>

    <h1 style="text-align: center">Update <%=beast.name%></h1>
    
    <!--<div style="width:30%; margin:30px auto" >-->
    <div style="margin:30px auto" >
    
      <form action="/beasts/<%=beast._id%>/?_method=PUT" method="POST">  <!-- methodOverride translate the POST to PUT -->
      
      <!-- Name of Beast -->
        <div class="form-group">
          <label for="nameId">Name of the beast</label>
          <input type="text" class="form-control" id="nameId" name='bb[name]' value="<%=beast.name%>">
        </div>

      <!-- Type of Beast -->
        <div class="form-group">
          <label for="typeId">Type</label>
          <input type="text" class="form-control" id="typeId" value="<%=beast.type%>" disabled>
        </div>
      
      <!-- Region -->
        <div class="form-group">
          <label for="regionId">Region</label>
          <input type="text" class="form-control" id="regionId" value="<%=beast.region%>" disabled>
                  <!--<select class="form-control" id="regionId" name='region'>-->
                  <!--  <option>Tibet</option>-->
                  <!--  <option>Pamir</option>-->
                  <!--  <option>Mongolia</option>-->
                  <!--  <option>Taklamakan</option>-->
                  <!--  <option>Sahara</option>-->
                  <!--  <option>Andes</option>-->
                  <!--</select>-->
        </div>
  
      <!-- Location of Beast -->
        <div class="form-group">
          <label for="locId">Location/serving area of the beast</label>
          <input type="text" class="form-control" id="locId" name='bb[location]' value="<%=beast.location%>">
        </div>
  
      <!-- available for rent/buy -->
        <div class="form-group">
          <input class="form-check-input" type="checkbox" value='true' id="rentId" name='rent'>
          <label class="form-check-label" for="rentId">Available for hire</label>
        </div>
        <div class="form-group">
          <input class="form-check-input" type="checkbox" value='true' id="buyId" name='buy'>
          <label class="form-check-label" for="buyId">Available for purchase</label>
        </div>
  
      <!-- Description -->
        <div class="form-group">
          <label for="descId">Description</label>
          <textarea class="form-control" id="descId" name='bb[description]'><%=beast.description%></textarea>
        </div>

      <!-- Image url of Beast -->
       <div class="form-group">
          <label for="imageId">Picture of the beast</label>
          <input type="text" class="form-control" id="imageId" name='bb[image]' value="<%=beast.image%>">
        </div>
  
       <button class="submit-button btn btn-md btn-primary btn-block">submit</button>
          
      </form> 
      <br>
      <a href="/beasts/<%=beast._id%>">Go Back</a>
    </div>

</div>

<% include ../partials/footer %>
